* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header {
    background: #88B04B;
    /* farba roka 2017 - Greenery */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.active,
a.inactive:hover {
    background: #009B77;
    /* farba roka 2013 - Emerald */
    transition: .5s;
}

/* green - concentration
blue - productivity
orange - mood lifter */

body {
    font-family: sans-serif;
}

.content {
    font-size: x-large;
    margin-top: 50px;
    justify-content: center;
}

.content-text {
    padding-left: 14%;
    padding-right: 14%;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.images button {
    margin: 3vw;
    width: 24em;
    height: 19em;
    text-align: center;
    position: relative;
    border: none;
    border: 3px solid #555;
    border-radius: 5px;
    transition-duration: .60s;
}

.button1 {
    box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
    background: url(sqlhriste.jpg);
    background-size: cover;
}

.button1:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
}

.button2 {
    box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
}

.button2:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
}

.button3 {
    box-shadow: 0 30px 60px rgba(0, 0, 0, .5);
}

.button3:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
}

@media only screen and (max-width: 768px) {
    .images {
        padding-left: 14%;
        padding-right: 14%;
    }
    .content {
        font-size: medium;
        margin-top: 30px;
    }
}
